@{
  Layout = "_Layout";
}

@model UniReg.Models.Department;
@using UniReg.Models;
@using System.Collections.Generic;

<h2>Department Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Students.Count == 0)
{
  <p>No one is majoring in this department</p>
}
else
{
<p>@Html.ActionLink("View Students", "ViewStudents", new { id = Model.DepartmentId})</p>
}

<p>@Html.ActionLink("Back to all Departments", "Index")</p>
<p>@Html.ActionLink("Edit Department", "Edit", new { id = Model.DepartmentId })</p>
<p>@Html.ActionLink("Delete Department", "Delete", new { id = Model.DepartmentId })</p>
<p>@Html.ActionLink("Add a new student", "Create", "Students")</p>
