@{
  Layout = "_Layout";
}

<h2>Details about @Model.Name</h2>

 @using UniReg.Models;

 @model UniReg.Models.Student;
 
<h3>@Html.DisplayFor(model => model.Name)</h3>  
<h4>@Html.DisplayFor(model => model.Department.Name) Major</h2>

<h2>Enrolled Courses:</h2>
<ul>
  @if(Model.JoinEntities.Count() == 0 )
  {
    <p>This student is not enrolled in any courses.</p>
  }
  else
  {
    @foreach (CourseStudent join in Model.JoinEntities)
    {
      <li>@join.Course.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Students"))
      {
        @Html.Hidden("joinId", @join.CourseStudentId)
        <input type="submit" value="Unenroll" />
      }
    }
  }
...
<p>@Html.ActionLink("Edit courses or major", "Edit", new { id = Model.StudentId})</p>
<p>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId}) </p>
<p>@Html.ActionLink("Back to List", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>