@{
  Layout ="_Layout";
}

@model UniReg.Models.Student

<h2>Edit Student Profile</h2>


@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>
  @Html.LabelFor(model => model.Department)
  @Html.DropDownList("DepartmentId") 
  <!-- viewbag DepartmentyId property implicitly passed in above -->
  <input type="submit" value="Save" />
}
<h3>@Html.ActionLink("Add courses", "AddCourse", new { id = Model.StudentId})</h3>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>